[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyyaml = "*"
pydantic = "*"
python-dotenv = "*"
elasticsearch = "<9,>=8"
sqlalchemy = "*"
psycopg = {extras = ["binary"], version = "*"}
pgvector = "*"
docling = "*"
pypdf = "*"
rapidocr-onnxruntime = "*"
onnxruntime-gpu = "*"
tiktoken = "*"
redis = "*"
openai = "*"
pytest-mock = "*"
torch = "==2.7.1"
torchvision = "==0.22.1"
pdf2image = "*"
mcp = "*"
langchain = "*"
langchain-openai = "*"
langchain-community = "*"
langchain-mcp-adapters = "*"
duckduckgo-search = "*"
mcpo = "*"
paddleocr = "*"
paddlepaddle = "*"
ragas = "*"
langfuse = "*"

[dev-packages]
pytest = "*"
pylint = "*"
chromadb = "==0.6.3"
jupyter = "*"
pytest-asyncio = "*"

[requires]
python_version = "3.11"
