[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyyaml = "*"
pydantic = "*"
python-dotenv = "*"
elasticsearch = "<9,>=8"
sqlalchemy = "*"
psycopg = {extras = ["binary"], version = "*"}
pgvector = "*"
docling = "*"
pypdf = "*"
rapidocr-onnxruntime = "*"
onnxruntime-gpu = "*"
tiktoken = "*"
redis = "*"
openai = "*"
pytest-mock = "*"
pdf2image = "*"

[dev-packages]
pytest = "*"
pylint = "*"
chromadb = "==0.6.3"
jupyter = "*"

[requires]
python_version = "3.11"
